/*
**
**  styles of Button.js component 
**
*/
@import 'variables';
@import 'general';

.button {
  border: none;
  border-radius: 4px;
  height: 40px;
  min-width: 100px;
  color: #fff;
  background-color: rgb(204, 204, 204);
  font-family: $main-font-family;
  font-weight: 900;
  transition: $hover-transition;
  &.inputType {
    height: $input-height;
    min-width: 50px;
  }
  &:hover{
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(0,0,0,.16), 0 3px 10px rgba(0,0,0,.23);
  }

  &.green {
    background-color: #058C42;
  }
  &.red {
    background-color: #DB504A;
  }
  &.blue {
    background-color: #048BA8;
  }
}