/*
**
**  styles of EditRecipe.js component 
**
*/
@import 'variables.scss';
@import 'general.scss';

.edit-recipe {
  @include direction(top, left);
  flex-direction: column;
  padding: 0 60px;
  h3 {
    margin-top: 10px;
  }
  &__new-ingredient {
    margin: 10px 0;
  }
  &__input {
    width: 100%;
    @include perfect-center(column);
  }
  &__buttons {
    width: 100%;
    padding: 10px 0;

    @include direction(bottom, left);
    justify-content: space-between;
  }
}