@import 'variables';
@import 'general';

.footer {

  background-color: $theme-background-color;
  height: $footer-height;
  color: $theme-font-color;

  @include perfect-center(column);

  &__logo {
    @keyframes footer-logo-spin {
      from { transform: rotate(0deg); }
      to { transform: rotate(360deg); }
    }
    animation: footer-logo-spin infinite 20s linear;
    height: 80px;
    &:hover {
      animation: footer-logo-spin infinite 3s linear;
    }
  }

  &__title {
    padding: 0;
    margin: 0;
    font-family: $theme-font-family;
    font-size: 30px;
  }
  
}