/*
**
** some usefull and reusable styles for whole components
**
*/

@mixin perfect-center($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}
