@import 'variables';
@import 'general';

.header {

  background-color: $theme-background-color;
  height: $header-height;
  color: $theme-font-color;
  @include perfect-center(column);

  &__title {
    padding: 0;
    margin: 0;
    font-size: 50px;
    font-family: $theme-font-family;
  }
}