/* 
**
**  styles for Main.js component
**
*/

@import 'variables';
@import 'general';

main {

  min-height: $main-min-height;
  background-color: $main-backgorund-color;
  font-family: $main-font-family;
  color: $main-font-color;

  @include perfect-center(column);

  .main-cont {
    margin: 20px 0;
    box-shadow: $box-shadow;
    width: 600px;
    min-height: 600px;
    border-radius: $border-radius;
    
    &__header {
      padding: $main-cont-padding;
      text-align: left;
      display: flex;
      align-items: center;
      border-bottom: $border-of-cont;
    }

    &__body {
      padding: $main-cont-padding;
      border-radius: $border-radius
    }

  }

}