/* 
**
**  styles for Recipe.js component
**
*/

@import 'variables.scss';
@import 'general.scss';

.recipe {

  border-radius: $border-radius;
  border: $border-of-cont;

  &__header {

    height: 50px;
    border-radius: 5px;
    padding: 0 10px;
    margin: 0;
    background-color: #4ECDC4;
    color: #fff;
    font-family: $main-font-family;
    transition: $hover-transition;

    @include direction(center, left);

    &:hover {
      cursor: pointer;
      box-shadow: 0 3px 10px rgba(0,0,0,.16), 0 3px 10px rgba(0,0,0,.23);
      border-radius: 0;
    }
  }

  &__body {
    height: 0;
    overflow: hidden;
    transition: all 250ms ease-in-out;

    &.active {
      height: 300px;
      padding: 10px 10px;
    }

    &__ingredients {

      h3 {
        margin-bottom: 5px;
      }
      padding: 10px;

      .ingredients__content {
        border-radius: $border-radius;
        border: $border-of-cont;
        height: 200px;
        overflow: auto;
        ul {
          padding: 5px 40px;
          text-align: left;
        }
      }
      .ingredients__buttons {
        padding: 10px 0;
        
        @include direction(bottom, left);

        justify-content: space-between;
      }
    }
  }

}